.formDiv {
  background-color: #191924;
  width: 50%;

  margin: 100px 25%;
  padding: 10px 0 20px 0;

  box-sizing: border-box;

  position: relative;
}

.formTitle {
  color: #5A6369;
  text-align: center;
  font-size: 48px;
}

.errorMessage {
  position: absolute;
  width: 100%;
  font-size: 28px;
  line-height: 1;
  height: 28px;

  color: #FF0000;
  text-align: center;
  top: calc(48px + (39.840px * 2) - 10px);
}

.form {
  width: 100%;
  background-color: inherit;
}

.input {
  width: 75%;

  font-size: 32px;
  line-height: 1;

  margin: 40px 12.5% 0px 12.5%;
  padding: 1px 0;

  color: #5A6369;

  border: none;
  border-bottom: 1px solid #ED6402;
  background-color: #262633;
  box-sizing: border-box;
}

.input:-webkit-autofill {
  /* background-color: #262633; */
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #5A6369;
}

.input:focus {
  outline: none;
  background-color: #333345;
}

.submit {
  width: 30%;

  font-size: 32px;
  line-height: 1;

  margin: 50px 35% 30px 35%;
  padding: 1px 0;

  background-color: #262633;
  border: none;
  border-bottom: 1px solid #ED6402;
  color: #ED6402;
  transition: 0.3s;
}

.submit:disabled {
  border: 1px solid #FF0000;
  color: #FF0000;
}

.submit:hover:enabled {
  cursor: pointer;
  background-color: #333345;
  border: 1px solid #ED6402;
}

.submit:focus:enabled {
  outline: none;
  background-color: #ED6402;
  color: #333345;
}
