.sellOption {
  height: 15% !important;

  width: 100%;
  display: flex;
  align-items: center;
}

.sellOption input, .sellOption select, .sellSubmit {
  border: none;
  border-bottom: 1px solid #ED6402;
  background-color: #262633;
  color: #748087;
  height: 30%;
  width: calc(80% / 5);
  margin-left: calc(20% / 6);
}

.sellOption input, .sellSubmit {
  box-sizing: border-box;
  padding-left: 5px;
}

.sellOption input:focus, .sellOption select:focus {
  outline: none;
  background-color: #333345;
}

.sellSubmit {
  color: #ED6402 !important;
}

.sellSubmit:hover {
  cursor: pointer;
  background-color: #333345;
}

.sellSubmit:focus {
  outline: none;
  background-color: #ED6402;
  color: #262633;
}
